<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/OOP4</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="sample.models.entertainment.Entertainment"/>
        <mapping class="sample.models.hotels.Room"/>
        <mapping class="sample.models.hotels.Hotel"/>
        <mapping class="sample.models.reservations.Reservation"/>
        <mapping class="sample.models.people.Person"/>
        <mapping class="sample.models.ratings.ClientRating"/>
        <mapping class="sample.models.ratings.RoomRating"/>


    </session-factory>
</hibernate-configuration>