<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/OOP4</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">admin</property>
<!--        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="sample.entertainment.Entertainment"/>
        <mapping class="sample.hotels.Room"/>
        <mapping class="sample.hotels.Hotel"/>
        <mapping class="sample.people.Client"/>
        <mapping class="sample.people.Manager"/>
        <mapping class="sample.people.Administrator"/>
        <mapping class="sample.people.Owner"/>
        <mapping class="sample.people.Receptionist"/>
        <mapping class="sample.reservations.Reservation"/>
        <mapping class="sample.ratings.ClientRating"/>
        <mapping class="sample.ratings.RoomRating"/>


    </session-factory>
</hibernate-configuration>